
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

html {
} 

body {
    font-family: 'Varela Round', sans-serif;
    color: #FFFFFF;
    background-color: #4E39E2;
    background: linear-gradient(140deg,#4E39E2,#2CB2D1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.night-color {
    background-color: #1C0853;
    background: linear-gradient(140deg, #1C0853, #4E39E2);
}

