
  
  div {
   padding: 80px;
   text-align: center;
  
  
}
  input{
    padding: 15px 20px;
    width: 100%;
    border-radius: 30px;
    font-size: 1.5em;
    /* margin-left:230px; */
    border:none;
    max-width: 400px;
  }
  button{
    
    position: relative;
    border: none;
    background-color: white;
    color: #4E39E2;
    left: -40px;
    font-size: 1.5rem;
    margin-top: 19px;
    


    
  }
  ::placeholder {

    color: #A4A4A4;
    font-size: 1rem;
  }
   
  p,h1{
      margin-bottom: 25px;
  }
