

<div id="container">
  <p class="small">Local weather for</p>
  <p class="big">{{current.city}},{{current.country}}</p>
  <div class="small">
    <span>{{current.date | date:'EEEE MMM d, y, h:mm a'}}</span>
  </div>
  
  <div class="big">
    <p id="grades">{{current.temperature | number:'1.0-0'}}°F</p>
    <i id="icon" [class]='current.image'></i>
  </div>
  <div class="small">
    {{current.description}}
  </div>
  <div id="line"></div>
  <p class="small">Wrong weather?</p>
  
 <div id="button-container">
   <a routerLink="" id="search-again-button">Search again</a>
  </div> 
</div>


