.small{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: .7em;
}

.big{
    color: white;
    font-size: 3em;
    text-align: center;
    margin: .5em;
}
#container{
    margin-top: 4em;
    text-align: center;
}
#icon{
    font-size: 2.5em;
    margin-top: .2em;
}

#line{
    background-color: white;
    height: 3px;
    width: 35%;
    margin: 0 auto;
    border-radius: 1.5px; 
    margin: 2em auto;
}

#grades{
    font-size: 2em;
    margin: .2em .4em;
}

#search-again-button{
        background-color:transparent;
        color: white;
        font-size: 1.2em;
        padding: 12px 15px;
        border: solid white 1.5px;
        border-radius: 30px;
        cursor: pointer;
}

#button-container{
    margin-top: 2em;
}
